/* styles.css */ 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#controller-buttons-container {
    display: flex;
    flex-direction: column; /* Arrange rows vertically */
    justify-content: center; /* Center vertically */
    align-items: center;
    
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

}

#controller-buttons-container button {
    text-align: center;
    width: 80px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    font-size: 12px; /* Adjust the font size as needed */
}

.button-row > button + button {
    margin-left: 10px; /* Adjust the margin as needed */
}

/* Initial state */
.start-button{
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    /* width: 80px;
    height: 35px; */

    font-size: 16px;    
}
/* connecting */
.connecting-button{
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    /* width: 80px;
    height: 35px; */
    background-color: #d3a248;
    color: white;
    font-size: 16px;    
}
/* Connected state */
.connected-button{
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    /* width: 80px;
    height: 35px; */
    background-color: #37c548;
    color: white;
    font-size: 16px;    
}


.record-button{
    position: absolute;
    top: 55px;
    left: 10px;
    text-align: center;
    /* width: 80px;
    height: 38px; */
    font-size: 16px; 
}

.recording-button{
    position: absolute;
    top: 55px;
    left: 10px;
    text-align: center;
    /* width: 80px;
    height: 38px; */
    font-size: 16px; 
    background-color: #fc8077;
}

.stop-record-button{
    position: absolute;
    top: 55px;
    left: 10px;
    text-align: center;
    /* width: 80px;
    height: 38px; */
    font-size: 16px; 
}


#live-stream{
    position: relative;

}
#controller-buttons-container label[for="toggle-switch"] {
    /* Your font properties here */
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333; /* Text color */
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
  
/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}
  
/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}
  
.slider:before {
position: absolute;
content: "";
height: 13px;
width: 13px;
left: 2px;
bottom: 2px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(13px);
-ms-transform: translateX(13px);
transform: translateX(13px);
}
